@import "tailwindcss";

@font-face {
  font-family: orpheus;
  src: url("/fonts/orpheus-pro.woff2") format("woff2");
}

@theme {
  --color-primary: #000419;
  --font-primary: "orpheus", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}